---
import Layout from '../layouts/Default.astro'
import Teaser from '../components/Teaser.astro'
import {getCollection} from 'astro:content'

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 5)

const projects = [
  {
    title: 'FeedBackPack',
    description: 'SaaS-app for collecting feedback with screenshot from your customers. Specially good when you have static-sites with no backend such as JAMStack.',
    image: {src: '/static/images/feedbackpack-screenshot.png', alt: 'Screenshot from frontpage of feedbackpack.app', width: 2368, height: 2206},
    url: 'https://feedbackpack.app',
    tech: ['Next.js', 'Docker', 'Typescript', 'Tailwind CSS']
  },
  {
    title: 'PR LOG',
    description: 'Everything you need to keep track of your PRs (personal records) in training. Optimized and build for where to use it - your mobile.',
    image: {src: '/static/images/prlog-screenshot.png', alt: 'Screenshot from frontpage of prlog.app', width: 2030, height: 2990},
    url: 'https://prlog.app',
    tech: ['Next.js', 'NextAuth.js', 'PostgreSQL', 'Prisma', 'Typescript', 'Tailwind CSS', 'Docker']
  },
  {
    title: 'Snittränta',
    description: 'A comparison site for average interest rates between Swedish banks.',
    image: {src: '/static/images/snittranta-screenshot.png', alt: 'Screenshot of frontpage of snittränta.se', width: 1338, height: 1188},
    url: 'https://snittränta.se',
    tech: ['Gatsby', 'Tailwind CSS', 'Puppeteer']
  },
  {
    title: 'Månadskollen',
    description: 'Copy and paste bank statement from Swedish banks and get a fast summary and overview of your finance.',
    image: {src: '/static/images/manadskollen-screenshot.png', alt: 'Screenshot of frontpage of månadskollen.se', width: 2506, height: 2220},
    url: 'https://månadskollen.se',
    tech: ['Gatsby', 'Tailwind CSS']
  },
  {
    title: 'Minimalisera',
    description: 'A blog about minimalism. First project with Gatsby and Tailwind CSS.',
    image: {src: '/static/images/minimalisera-screenshot.png', alt: 'Screenshot from frontpage of minimalisera.se', width: 2870, height: 2990},
    url: 'https://minimalisera.se',
    tech: ['Gatsby', 'Tailwind CSS']
  }
]
---

<Layout title="Nicklas Jarnesjö - web, dev and business">
  <div class="py-12 md:py-20">
    <div class="uppercase tracking-wide text-lg font-semibold text-red-600 dark:text-red-500">
      Hi, my name is Nicklas
    </div>
    <h1
      class="text-6xl font-extrabold tracking-tight pt-2 pb-6 js-darkmode-flicker"
      data-flicker-chars="3"
    >
      I like to build things
    </h1>
    <div class="text-2xl text-gray-500">
      I'm one of the founders of Webready, a development agency in Kalmar, Sweden.
    </div>
  </div>

  <div class="pb-20 pt-4">
    <h2 class="text-3xl font-bold tracking-tight mb-4">Latest writings</h2>
    <div class="space-y-5">
      {posts.map(post => (
        <Teaser title={post.data.title} slug={post.id} date={post.data.date} />
      ))}
      <div class="font-semibold text-red-600 hover:text-red-700 dark:text-red-500">
        <a href="/blog">See all posts →</a>
      </div>
    </div>
  </div>

  <h2 class="text-3xl font-bold tracking-tight mb-4 pt-4">Things I have build</h2>
  <p class="text-gray-500 text-lg">
    As owner of development agency I have build alot of fun and cool projects together with
    clients. But since I find happiness to build thing for myself again this is some of them.
  </p>

  <div class="space-y-16 mt-8">
    {projects.map(project => (
      <div class="grid grid-cols-1 md:grid-cols-3 md:gap-6">
        <div class="relative">
          <img
            src={project.image.src}
            width={project.image.width}
            height={project.image.height}
            alt={project.image.alt}
            loading="lazy"
            class="rounded-md"
          />
        </div>
        <div class="mt-6 md:mt-0 md:col-span-2">
          <h3 class="font-semibold text-xl">{project.title}</h3>
          <p class="mt-4">{project.description}</p>
          <div class="mt-4">
            <span class="text-sm mr-2 font-semibold">Dev</span>
            <ul class="flex flex-wrap">
              {project.tech.map(t => (
                <li class="inline-flex items-center px-2.5 py-0.5 mr-2 mt-2 rounded-full text-xs font-medium bg-gray-100 text-gray-800">
                  {t}
                </li>
              ))}
            </ul>
          </div>
          <a class="mt-4 inline-block text-gray-500 font-semibold" href={project.url}>
            {project.url}
          </a>
        </div>
      </div>
    ))}
  </div>
</Layout>
