---
interface Props {
  title: string
  slug: string
  date: Date
  category?: string
  size?: 'normal' | 'large'
}

const {title, slug, date, category, size = 'normal'} = Astro.props

const formatted = new Intl.DateTimeFormat('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
}).format(date)
---

<article>
  <a href={`/blog/${slug}`} class={`${size === 'large' ? 'text-2xl mb-1' : 'text-xl'} font-semibold block group`}>
    <h2 class="group-hover:text-red-600 dark:group-hover:text-red-500 transition-colors">{title}</h2>
  </a>
  <span class="uppercase text-xs text-gray-500 dark:text-gray-400 font-medium tracking-widest">
    <time datetime={date.toISOString()}>{formatted}</time>
    {category && <>&bull; {category}</>}
  </span>
</article>
